<div id="player_wrapper">

    <div id="player_top_row" class="row_center">Now playing:<br/><span id="song_name">A song</span></div>

    <div class="row_center">
        <div id="player_duration_label" class="left centered fifty_percent">Duration</div>
        <div class="left centered fifty_percent" id="player_position_label">Elapsed</div>
    </div>

    <div class="row_center">
        <div id="player_duration" class="left centered fifty_percent"><span id="song_duration"></span></div>
        <div class="left centered fifty_percent" id="player_position"><span id="song_position"></span></div>
    </div>

    <div id="player_bottom_row" class="clear ninety_percent row_center">
        <input type="checkbox" id="autoplay"/><span id="autoplay">Autoplay</span>
    </div>

</div>
